    <div class="container mx-auto bg-secondary-color mt-10">
        <div class="pt-3 pb-5 text-center flex flex-col items-center">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="mx-auto max-w-[600px]">When it comes to online interactions, the submit form plays a pivotal 
                role in collecting user data and facilitating seamless communication. 
                Whether it's completing a purchase, signing up for a newsletter, or providing feedback, 
                the submit form serves as the gateway for users to share information.
            </p>
            <form action="" class="grid grid-cols-5 gap-10 my-10 tablet:grid-cols-2 max-[600px]:grid-cols-2 ">
                <div class="tablet:col-span-2  ">
                    <input class="w-full pl-3 py-3" type="text" name="" id="" placeholder="Your Name">
                </div>
                <div class="tablet:col-span-2">
                    <input class="w-full pl-3 py-3" type="text" name="" id="" placeholder="Email    ">
                </div>
                <div class="tablet:col-span-1">
                    <button class=" rounded-lg w-[100px] bg-primary-color text-white px-5 py-3">Submit</button>
                </div>
            </form>
        
        </div>
    </div>

