    <div class="container min-[1300px]:w-[1280px] mx-auto bg-secondary-color mt-10 
        max-[639px]:h-[400px]" 
        >
        <div class="pt-10 pb-5 text-center flex flex-col items-center">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="mx-auto max-w-[600px]">When it comes to online interactions, the submit form plays a pivotal 
                role in collecting user data and facilitating seamless communication. 
                Whether it's completing a purchase, signing up for a newsletter, or providing feedback, 
                the submit form serves as the gateway for users to share information.
            </p>
            <form action="" 
            #subForm="ngForm"
            (ngSubmit)="onSubmit(subForm.value)"

             >
                <div *ngIf="checkEmail" class="bg-red-400 text-white p-1 w-full mt-10">
                    Email is aready in use
                </div>
                <div *ngIf="isEmail" class="bg-green-400 text-white p-1 w-full mt-10 laptop:min-w-[790px]">
                   
                    Thank you for subscribing to our newsletter service
                </div>
                <!--   -->
                <div class="grid gap-10 my-10 tablet:grid-cols-5 max-[639px]:grid-cols-1 h-16" *ngIf="!isEmail">
                    <div class="tablet:col-span-2  ">
                        <input class="w-full pl-3 py-3 shadow-md" type="text" name="name" id="name" 
                        autocomplete="name"
                        placeholder="Your Name"
                        #Name="ngModel"
                        ngModel
                        required
                        [ngClass]="{'border-solid border-2 border-red-600': Name.touched && Name.invalid}"
                        
                        >
                        <div *ngIf="Name.touched && Name.invalid">
                            <div *ngIf="Name.errors?.['required']" class="text-red-600" >Name is required</div>      
                        </div>
                    </div>
                    <div class="tablet:col-span-2 ">
                        <input class="w-full pl-3 py-3 shadow-md" type="text" name="email"  
                        placeholder="email"
                        autocomplete="name"
                        #Email="ngModel"
                        ngModel 
                        required
                        email
                        [ngClass]="{'border-solid border-2 border-red-600': Email.touched && Email.invalid}"
                        >
                        <div *ngIf="Email.touched && Email.invalid">
                            <div *ngIf="Email.errors?.['required']" class="text-red-600" >Email is required</div>
                            <div *ngIf="Email.errors?.['email']" class="text-red-600" >Email is email</div>
                        </div>
                    </div>
                    <div class="tablet:col-span-1">
                        <button [disabled]="subForm.invalid"  class="shadow-md disabled:opacity-50 rounded-lg w-[100px] bg-primary-color text-white px-5 py-3">Submit</button>
                    </div>
                </div>
            </form>
        
        </div>
    </div>

