<section class="bg-primary-color">
    <div class="container mx-auto min-[1300px]:w-[1280px]">
        <div class="px-4">
            <div class="flex flex-col items-center pt-10">
                <h2 class="text-white text-2xl">Feature Posts</h2>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adpisicing elit.</p>
            </div>
            <div class=" grid grid-cols-4 gap-5 mt-6 content-center max-[639px]:grid-cols-1 
            tablet:grid-cols-2 tablet:overflow-hidden
            laptop:grid-cols-3 
            desktop:grid-cols-4">
                <div class="justify-self-center items-center">
                    <app-post-card></app-post-card>
                </div>
                <div class="justify-self-center items-center">
                    <app-post-card></app-post-card>
                </div>
                <div class="justify-self-center items-center">
                    <app-post-card></app-post-card>
                </div>
                <div class="justify-self-center items-center">
                    <app-post-card></app-post-card>
                </div>
            </div>
        </div>
    </div>
</section>
