<nav class="mx-auto">
    <div class=" shadow-md bg-secondary-color">
        <div >
            <ul class="flex justify-center items-center gap-10 text-transform: uppercase text-primary-color h-16"
               
            >
                <li  *ngFor="let category of dataCategory">
                    <a   class="cursor-pointer" [routerLink]="['/category',category.data.category,category.id]">
                        {{category.data.category}}
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>