<section class="mt-5">
    <div class="container mx-auto min-[1300px]:w-[1280px] bg-primary-color py-10">

            <h1 class="text-white text-center text-3xl">About Us</h1>
            <div class=" bg-secondary-color text-primary-color p-10 m-10">

                <p>Trong một số trường hợp, nong phần tử con có thể làm cho chiều cao tăng lên quá mức.
                    Tron nội dung trong phần tử con có thể làm cho chiều cao tăng lên quá mức
                    số trường hợp, nội dung trong phần tử con có thể làm cho chiều cao tăng lên quá mức </p>
                <p>Trong một số trường hợp, nội dung trong phần tử con có thể làm cho chiều cao tăng lên quá mức. 
                    ội dung trong phần tử con có thể làm cho chi
                    ội dung trong phần tử con có thể làm cho chi
                    ội dung trong phần tử con có thể làm cho chi
                </p>
                <p>Trong một số trường hợp, nội dung trong phần tử con có thể làm cho chiều cao tăng lên quá mức. </p>

                <div class="text-center mt-8">
                    <button routerLink="/" class=" bg-primary-color text-white p-3 rounded-sm">Back to Home</button>
                </div>
            </div>
            

    </div>
</section>
