<div class="container max-w-[1050px] mx-auto mt-4 ">
    <div class="grid grid-cols-12 gap-10 max-[600px]:grid-cols-9">
        <div class="col-span-9" *ngIf="dataPost">
            <div class="shadow-md pb-10">
                <img class="w-full" src="{{dataPost.postImgPath}}" alt="">
            <div class="">
                <ul class="flex items-center justify-center gap-5">
                    <li>
                        <a class="text-red-600" href="#">{{dataPost.category.category}}</a>
                    </li>
                    <li>
                        <a class="text-green-600" href="#">Feature</a>
                    </li>
                    <li>
                        <a class="text-orange-400" href="#">view - {{dataPost.views}}  </a>
                    </li>
                    <li>
                        <p class="my-4 text-amber-500">LAST UPDATE {{dataPost.createdAt.toMillis() | date}}</p>       
                    </li>
                </ul>
            </div>
            <div class="px-16 text-pretty">
                <h1 class="uppercase text-3xl my-3">{{dataPost.title}} </h1>
                <p [innerHtml]="dataPost.content"></p>
            </div>
            </div>
            <app-comment-form (comment)="addComment($event)"></app-comment-form>
            <app-comment-list [dataComment]="dataComment"></app-comment-list>    
        </div>
      

        <div class="col-span-3 max-[600px]:hidden" >
            
                
            <div  *ngFor="let data of similarPost" >
                <app-post-card [postdata]="data"></app-post-card>
            </div>

        </div>
        
    </div>
</div>
